<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%- content.title || default_title %></title>
  <link href="/build.css" rel="stylesheet" type="text/css">
  <script src="//use.edgefonts.net/smokum.js"></script>
</head>
<body>
  <div id="container"><%- HTML %></div>
  <script src="/build.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>